.google-login-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.google-login-wrapper > div {
  width: 100%;
}

.google-login-wrapper iframe {
  border-radius: var(--radius-full) !important;
}
